[submodule "vim/colors/vilight"]
	path = vim/bundle/vilight
	url = https://github.com/vim-scripts/vilight.vim.git
[submodule "vim/syntax/brainfuck"]
	path = vim/bundle/brainfuck
	url = https://github.com/vim-scripts/brainfuck-syntax.git
[submodule "vim/plugin/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule "vim/plugin/nerd_commenter"]
	path = vim/bundle/nerd_commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "vim/plugin/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/plugin/doxygen_toolkit"]
	path = vim/bundle/doxygen_toolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "vim/plugin/csapprox"]
	path = vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "vim/autoload/pathogen"]
	path = vim/autoload/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = https://github.com/vim-scripts/jade.vim.git
[submodule "vim/bundle/camelcasemotion"]
	path = vim/bundle/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
