[submodule "vim/colors/vilight"]
	path = vim/bundle/vilight
	url = https://github.com/vim-scripts/vilight.vim.git
[submodule "vim/syntax/brainfuck"]
	path = vim/bundle/brainfuck
	url = https://github.com/vim-scripts/brainfuck-syntax.git
[submodule "vim/plugin/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule "vim/plugin/nerd_commenter"]
	path = vim/bundle/nerd_commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "vim/plugin/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/plugin/doxygen_toolkit"]
	path = vim/bundle/doxygen_toolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "vim/plugin/csapprox"]
	path = vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "vim/autoload/pathogen"]
	path = vim/autoload/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = https://github.com/vim-scripts/jade.vim.git
[submodule "vim/bundle/camelcasemotion"]
	path = vim/bundle/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-addon-local-vimrc"]
	path = vim/bundle/vim-addon-local-vimrc
	url = git://github.com/MarcWeber/vim-addon-local-vimrc.git
