[submodule "vim/colors/vilight"]
	path = vim/colors/vilight
	url = https://github.com/vim-scripts/vilight.vim.git
[submodule "vim/syntax/brainfuck"]
	path = vim/syntax/brainfuck
	url = https://github.com/vim-scripts/brainfuck-syntax.git
[submodule "vim/plugin/minibufexpl"]
	path = vim/plugin/minibufexpl
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule "vim/plugin/nerd_commenter"]
	path = vim/plugin/nerd_commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "vim/plugin/taglist"]
	path = vim/plugin/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/plugin/doxygen_toolkit"]
	path = vim/plugin/doxygen_toolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
